    @font-face {
        font-family: myFirstFont;
        src: url('../font/yikes_medium-webfont.ttf'), url('../font/yikes_medium-webfont.eot')
    }

    body,
    strong,
    h5,
    p,
    ul,
    li,
    span {
        font-family: myFirstFont;
        font-weight: bold;
        /* color: black; */
        text-decoration: none;
    }

    ::-webkit-scrollbar {
        -webkit-appearance: none;
        width: 0px;
    }

    a {
        font-family: myFirstFont;
        font-weight: bold;
        color: black;
        text-decoration: none;
    }




    .profile_mobile {
        display: none;
    }


    #myBtn {
        display: none;
        position: fixed;
        bottom: 20px;
        right: 23%;
        z-index: 99;
        font-size: 18px;
        border: none;
        outline: none;
        background-color: #663399;
        color: white;
        cursor: pointer;
        padding: 15px;
        border-radius: 50%;
    }

    #myBtn:hover {
        background-color: red;
    }


    .fixed {
        position: sticky;
        /* top: 40%; */
        z-index: 3;
    }



    .box {
        top: 56px;
        background-color: #663399;
        /* width: 100%; */
        /* border: 1px solid white; */
        height: 0.4%;
        
    }

    ul.horizontal-list {
        list-style: none;

    }

    ul.horizontal-list li {
        min-width: 8rem;
        margin-top: 10%;
        text-align: center;
        bottom: 0;
    }

    .affecttext:link {
        color: red;

    }

    /* mouse over link */
    .affecttext:hover {
        font-size: 17px;
        text-decoration: 20% underline #fff;
    }


    ul.horizontal-list li:not(:last-child) {
        border-right: 0px solid black;
    }






    /* สวิช */

    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
    }

    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #663399;
        -webkit-transition: .4s;
        transition: .4s;
    }

    .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

    input:checked+.slider {
        background-color: #663399;
    }

    input:focus+.slider {
        box-shadow: 0 0 1px #663399;
    }

    input:checked+.slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }

    /* Rounded sliders */
    .slider.round {
        border-radius: 34px;
    }

    .slider.round:before {
        border-radius: 50%;
    }




    /* สำหรับปุ่ม radio */



    /* เส้นใต้ */


    .double_line {
        text-decoration-line: underline;
        text-decoration-style: double;
    }

    .fixedcart {
        position: sticky;
        top: 15%;
        z-index: 5;
    }



    /* เม้าวาง รูปขยาย */

    .zoom {
        /* width: 400px; */
        /* height: auto; */
        cursor: pointer;
        -webkit-transition-property: all;
        -webkit-transition-duration: 0.1s;
        -webkit-transition-timing-function: ease;
    }


    .zoom:hover {
        transform: scale(1.05);
    }



    /* หน้าจอแสดงผล */

    .my-cart {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%
    }

    .my-cart {
        display: none;
    }

    #reviewcssicon {
        display: none;
    }


    @media only screen and (max-width: 480px) {



        .modal-dialog {
            width: 100%;
            max-width: none;
            height: 100%;
            margin: 0;
        }

        .modal-content {
            height: auto;
            min-height: 100%;
            max-width: 100%;
            border-radius: 0;
        }


        .profile_web {
            display: none;
        }

        .profile_mobile {
            display: inline;
            font-size: 24px;
        }


        header {
            height: auto;
        }

        .my-cart {
            position: fixed;
            bottom: 0;
            left: 0;
            right: 0;
            width: 100%;

        }

        #reviewcssicon {
            display: inline;
        }


        .my-button {
            display: none;
        }

        .my-cart {
            display: inline;
        }

        .img1 {
            margin: auto;
            width: 100%;
        }


        #myBtn {
            display: none;
            position: fixed;
            bottom: 20px;
            right: 23%;
            z-index: 99;
            font-size: 18px;
            border: none;
            outline: none;
            background-color: #663399;
            color: white;
            cursor: pointer;
            padding: 15px;
            border-radius: 50%;
        }

        #myBtn:hover {
            background-color: red;
        }


    }

    @media only screen and (max-width: 890px) {

        .modal-dialog {
            width: 100%;
            max-width: none;
            height: 100%;
            margin: 0;
        }

        .modal-content {
            height: auto;
            min-height: 100%;
            max-width: 100%;
            border-radius: 0;
        }

        .profile_web {
            display: none;
        }

        .profile_mobile {
            display: inline;
            font-size: 24px;
        }


        #myBtn {
            display: none;
            position: fixed;
            bottom: 90px;
            right: 1%;
            z-index: 99;
            font-size: 18px;
            border: none;
            outline: none;
            background-color: #663399;
            color: white;
            cursor: pointer;
            padding: 15px;
            border-radius: 50%;
        }

        #myBtn:hover {
            background-color: red;
        }

        header {
            height: auto;
        }

        .img1 {
            margin: auto;
            width: 100%;
        }

        .col-md-9 {
            width: 100%;
        }

        #reviewcss {
            display: none;
        }

        #reviewcssicon {
            display: inline;
        }


        .my-cart {
            position: fixed;
            bottom: 0;
            left: 0;
            right: 0;
            width: 100%;
        }

        .my-button {
            display: none;
        }

        .my-cart {
            display: inline;
        }
    }




    .btn:hover {
        background-position: right center;
    }

    .btn-2 {
        color: white;
        background-image: linear-gradient(to right, #663399 0%, #663399 51%, #663399 100%);
    }

    .modal-dialog1 {
        position: fixed;
        width: inherit;
        width: 100%;
        max-width: inherit;
        bottom: 0;
    }

    .text_for_radio {
        cursor: pointer;
    }

    .scollbar {
        width: 500px;
        height: 300px;
        overflow-y: scroll;
        scrollbar-color: rebeccapurple green;
        scrollbar-width: thin;
    }





    /* ปุึ่มมมมมมมมมมมมมมม */


    .primary-btn {
        display: inline-block;
        font-size: 14px;
        padding: 10px 28px 10px;
        color: #ffffff;
        text-transform: uppercase;
        font-weight: 700;
        background: rebeccapurple;
        letter-spacing: 2px;
    }

    .primary-btn1 {
        display: inline-block;
        font-size: 14px;
        padding: 2px 10px 2px;
        color: #ffffff;
        text-transform: uppercase;
        font-weight: 700;
        background: #7fad39;
        letter-spacing: 2px;
    }

    .primary-btn3 {
        display: inline-block;
        font-size: 12px;
        padding: 10px 28px 10px;
        color: #ffffff;
        text-transform: uppercase;
        font-weight: 700;
        background: #9400D3;
        letter-spacing: 2px;
    }

    .primary-btn2 {
        display: inline-block;
        font-size: 15px;
        padding: 7px 16px 7px;
        color: #ffffff;
        text-transform: uppercase;
        font-weight: 700;
        background: rebeccapurple;
        letter-spacing: 2px;
    }

    .primary-btnship {
        display: inline-block;
        font-size: 14px;
        padding: 10px 28px 10px;
        color: #ffffff;
        text-transform: uppercase;
        font-weight: 700;
        background: #0066CC;
        letter-spacing: 2px;
    }

    .primary-btnship1 {
        display: inline-block;
        font-size: 14px;
        padding: 2px 10px 2px;
        color: #ffffff;
        text-transform: uppercase;
        font-weight: 700;
        background: #0066CC;
        letter-spacing: 2px;
    }

    .primary-btnshipp {
        display: inline-block;
        font-size: 14px;
        padding: 10px 28px 10px;
        color: #ffffff;
        text-transform: uppercase;
        font-weight: 700;
        background: #0099CC;
        letter-spacing: 2px;
    }

    .primary-btnshipp1 {
        display: inline-block;
        font-size: 14px;
        padding: 2px 10px 2px;
        color: #ffffff;
        text-transform: uppercase;
        font-weight: 700;
        background: #0099CC;
        letter-spacing: 2px;
    }

    .primary-btnrec {
        display: inline-block;
        font-size: 14px;
        padding: 10px 28px 10px;
        color: #ffffff;
        text-transform: uppercase;
        font-weight: 700;
        background: #0099CC;
        letter-spacing: 2px;
    }

    .primary-btnrec1 {
        display: inline-block;
        font-size: 14px;
        padding: 2px 10px 2px;
        color: #ffffff;
        text-transform: uppercase;
        font-weight: 700;
        background: #0099CC;
        letter-spacing: 2px;
    }

    .primary-btndet {
        display: inline-block;
        font-size: 14px;
        padding: 10px 28px 10px;
        color: #ffffff;
        text-transform: uppercase;
        font-weight: 700;
        background: #f31a1a;
        letter-spacing: 2px;
    }


    .primary-btnpri {
        display: inline-block;
        font-size: 14px;
        padding: 10px 28px 10px;
        color: #ffffff;
        text-transform: uppercase;
        font-weight: 700;
        background: rebeccapurple;
        letter-spacing: 2px;
    }

    .primary-btndet1 {
        display: inline-block;
        font-size: 14px;
        padding: 2px 10px 2px;
        color: #ffffff;
        text-transform: uppercase;
        font-weight: 700;
        background: #f31a1a;
        letter-spacing: 2px;
    }

    .primary-btncom {
        display: inline-block;
        font-size: 14px;
        padding: 10px 28px 10px;
        color: #ffffff;
        text-transform: uppercase;
        font-weight: 700;
        background: #00CC33;
        letter-spacing: 2px;
    }

    .primary-btncom1 {
        display: inline-block;
        font-size: 14px;
        padding: 2px 10px 2px;
        color: #ffffff;
        text-transform: uppercase;
        font-weight: 700;
        background: #00CC33;
        letter-spacing: 2px;
    }

    .primary-btnwar {
        display: inline-block;
        font-size: 14px;
        padding: 10px 28px 10px;
        color: #ffffff;
        text-transform: uppercase;
        font-weight: 700;
        background: #FF6600;
        letter-spacing: 2px;
    }

    .primary-btnwar1 {
        display: inline-block;
        font-size: 14px;
        padding: 10px 28px 10px;
        color: #ffffff;
        text-transform: uppercase;
        font-weight: 700;
        background: #FF6600;
        letter-spacing: 2px;
    }

    .primary-btncon {
        display: inline-block;
        font-size: 14px;
        padding: 3px 3px 3px;
        color: #ffffff;
        text-transform: uppercase;
        font-weight: 700;
        background: #FF00CC;
        letter-spacing: 2px;
    }

    .primary-btncon1 {
        display: inline-block;
        font-size: 14px;
        padding: 2px 10px 2px;
        color: #ffffff;
        text-transform: uppercase;
        font-weight: 700;
        background: #FF00CC;
        letter-spacing: 2px;
    }


    .product__details__text .primary-btndet .primary-btn1 .primary-btndet1 .primary-btnwar .primary-btnwar1 .primary-btncon .primary-btncon1 .primary-btncom .primary-btncom1 .primary-btnship1 .primary-btnship .primary-btnshipp .primary-btnshipp1 .primary-btnrec .primary-btnrec1 {
        padding: 16px 28px 14px;
        margin-right: 6px;
        margin-bottom: 5px;
    }

    /* radio */




    #specifyColor {
        color: rebeccapurple;
    }

    input[type=radio] {
        -ms-transform: scale(2.0);
        /* IE 9 */
        -webkit-transform: scale(2.0);
        /* Chrome, Safari, Opera */
        transform: scale(1.5);
    }




    /* โต๊ะ ปุ่มเพอิ่มลบ  */


    .pro-qty {
        width: 100px;
        height: 50px;
        display: inline-block;
        position: relative;
        text-align: center;
        background: default;
        margin-bottom: 5px;

    }

    .pro-qty input {
        height: 100%;
        width: 100%;
        font-size: 18px;
        color: #000000;
        width: 50px;
        border: none;
        background: default;
        text-align: center;
    }

    .pro-qty .qtybtn {
        width: 20px;
        font-size: 20px;
        color: default;
        cursor: pointer;
        display: inline-block;
    }



    .shoping__cart__table table tbody tr td.shoping__cart__quantity .pro-qty {
        width: 120px;
        height: 40px;
    }

    .shoping__cart__table table tbody tr td.shoping__cart__quantity .pro-qty input {
        color: #1c1c1c;
    }

    .shoping__cart__table table tbody tr td.shoping__cart__quantity .pro-qty input::placeholder {
        color: #1c1c1c;
    }

    .shoping__cart__table table tbody tr td.shoping__cart__quantity .pro-qty .qtybtn {
        width: 15px;
    }